a.download {
    color: #CCC;
    float: right;
    display: inline;
    margin-top: 8px;
    margin-right: 6px;
}
a.download:visited {
    color: #CCC;
}
a.download:hover {
    color: #EEE;
}
a.date {
    color: #CCC;
}
a.date:visited {
    color: #CCC;
}
a.date.highlighted {
    color: yellow;
}
a.date.highlighted:visited {
    color: yellow;
}
