a.download {
    color: #CCC;
    float: right;
    display: inline;
    margin-top: 8px;
    margin-right: 6px;
}
a.download:visited {
    color: #CCC;
}
a.download:hover {
    color: #EEE;
}
a.date {
    color: #CCC;
}
a.date:visited {
    color: #CCC;
}
a.date.highlighted {
    color: yellow;
}
a.date.highlighted:visited {
    color: yellow;
}
div#map {
    border: 2px solid #CCC;
}

// Fix for Google Maps stuff via https://github.com/zurb/foundation/issues/2462
#map *, #map *:before, #map *:after {
    -moz-box-sizing: content-box!important;
    -webkit-box-sizing: content-box!important;
    box-sizing: content-box!important;  
}
#map img {
    max-width: none;
}
#map label {
    width: auto;
    display: inline;
}

